body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #3b8de3;
}

.weather-icon {
    font-size: 60px;
    margin: 15px 0;
}
nav{
    display: flex;
    gap: 60px;
    justify-content: center;
}
h2{
    color: #efcc4e;
}

/* Tablet style (up to 786px) */
@media (max-width: 786px) {
    .container {
        padding: 25px;
    }
    
    input {
        width: 80%;
    }

    .weather-icon {
        font-size: 50px;
    }

    nav{
    display: flex;
    gap: 40px;
    justify-content: center;
}
    
}

/* Mobile style (up to 480px) */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    
    input {
        width: 90%;
    }

    .weather-icon {
        font-size: 40px;
    }

    button {
        width: 80%;
        padding: 10px 0;
    }
    nav{
    display: flex;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
}
}